body{
    margin: 0;
    padding: 0;
    background-color: #f1f2f5;
}
/* top box */
.topBox{
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: small;
    background-color: rgb(22, 35, 50);
    color: rgb(246, 246, 247);
    padding: 10px;
    justify-content: space-between
}
a{
    color: white
}
.website{
 padding-left: 30px;
}
.info{
    padding-right: 60px;
}
/* nav bar */
.nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 5rem;
}
.button {
    background-color: rgb(22, 35, 50);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 31px;
  }
  .img{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
  }
  img{
    width: 89%;
  }
  .circleButtons{
    display: flex;
    justify-content: center;
  }
  .buttonC{
    background-color: gray;
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
 .boxes{
    
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 3rem;
    flex-wrap: nowrap;
    justify-content: space-around;
 }
 .box1{
    padding: 1rem;
    border-top: .1rem solid black;
 }
 .box2{
    padding: 1rem;
    border-top: .1rem solid black;
    border-left: .1rem solid black;
 }
 .box3{
    padding: 1rem;
    border-top: .1rem solid black;
    border-left: .1rem solid black;
 }
 .buttonO {
    background-color: rgb(22, 35, 50);
    height: 3rem;
    width: 5rem;
    margin-left: .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 17%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.bottomBox{
    background-color: rgb(22, 35, 50);
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 3rem;
    flex-wrap: nowrap;
    justify-content: space-between;
}